:host{
    height: 100%;
    width: 40vw;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--secondary-color);
    position: relative;
    
    .data{
        p{
            border-bottom: 1px solid var(--Black);
            position: absolute;
            top: 10%;
            right: 5%;
        }
    }
    .cards{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        margin-top: 3rem;
        overflow-y: auto;
        gap: 2rem;
        user-select: none;
        
          .custom-placeholder {
            background: rgba(149, 149, 149, 0.204);
            min-height: 60px;
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
          }
    }
   
}
@media (max-width:720px) {
    :host{
        height: 50vh;
        width: 100vw;    
    }
}

@media (max-width:320px) {
    :host{
        .data{
            p{
                font-size: 6vw;
            }
        }

    }
}