:host{
    height: 10rem;
    width: 20rem;
    background-color: red;
    border: 1px solid var(--Black);
    position: absolute;
    bottom: 35%;
    left: 10%;

    .title{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;


        input{
            border-bottom: 1px solid var(--Black);
        }

        button{
           font-size: 1rem;
        }
    }

   
}