:host{
    height: 280px;
    width: 250px;
    border: 1px solid var(--Black);
    position: absolute;
    left: 15%;
    bottom: 35%;
    background-color: var(--secondary-color);

    .todo_title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        
        
        h1 {
            font-size: 2vw;
        }

        form{
    
            input {
                border-bottom: 1px solid var(--Black);
                padding: 5px;
            }     

            button{
                font-size: 1.2rem;
            }
        }
       
    }
    .todo_description{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input_description_container{
            padding: 10px 0;
            height: 100%;
            p{
                width: 100%;
                font-size: 12px;
                display: flex;
                justify-content: flex-end;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 50%;
                    background-color: var(--Black);
                    top: 50%;
                    left: 18%;
                    transform: translate(-50%,-50%);
                }
            }

            textarea{
                border-bottom: 1px solid var(--Black);
                height: 80%;
                width: 100%;
                padding: 10px;
            }
        }
        .todo_description_buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            button{
                background-color: var(--Black);
                color: var(--White);
                padding: 5px 1rem;
                margin: 10px 0;
            }
        }
     
    }

    .btn_close{
        position: absolute;
        top: 0%;
        right: 0%;
        font-size: 1.2rem;

    }

    .item{
        animation: disappear .2s forwards;
    }
    .appear{
        animation: appear .2s forwards;
    }
    .desc{
        animation: appearDesc .2s forwards;
    }
}

@keyframes disappear {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
}
@keyframes appear {
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearDesc {
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
