<div class="todo_input_container">
    <div class="todo_title" *ngIf="titleStep">
        <h1>{{title}}</h1>
        <form (submit)="next()">
            <input type="text" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" maxlength="15">
            <button><i class="ph ph-arrow-circle-right"></i></button>
        </form>
    </div>    
    <div class="todo_description" *ngIf="descStep">
        <h2>Description</h2>
        <div class="input_description_container">
            <p>Write Below <i class="ph ph-arrow-arc-right"></i> </p>
            <textarea placeholder="..."></textarea>
        </div>
        <div class="todo_description_buttons">
            <button (click)="previous()" ><i class="ph ph-caret-left"></i></button>
            <button>Done <i class="ph ph-check"></i></button>
        </div>
    </div>
</div>
