:host{
    height: 280px;
    width: 250px;
    position: absolute;
    left: 15%;
    bottom: 35%;
    background-color: var(--secondary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .todo_title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        
        
        h1 {
            font-size: 20px;
            position: relative;
          
        }

        form{
            display:flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;

            &::after,  &::before{
                position: absolute;
                background-color: var(--Gray);
            }

            &::after{
                content: "";
                height: 1px;
                width: 25%;
                top: -10%;
                left: 3%;
            }

            &::before{
                content: "标题";
                bottom: 0%;
                left: 5%;
                background-color: transparent;
                color: var(--Gray);
            }
            input {
                display:flex;
                justify-content: center;
                border-bottom: 1px solid var(--Gray);
                padding: 5px 0px 5px 20px;
                width: 70%;
            }     

            button{
                font-size: 1.2rem;
            }
        }
       
    }
    .todo_description{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: var(--Black);
            font-weight: 100;
        }

        .input_description_container{
            padding: 10px 0;
            height: 100%;
            p{
                width: 100%;
                font-size: 12px;
                display: flex;
                justify-content: center;
                position: relative;
                color: var(--Gray);
                padding-left: 40px;

                &::after{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 50%;
                    background-color: var(--Gray);
                    top: 50%;
                    left: 18%;
                    transform: translate(-50%,-50%);
                }
            }

            textarea{
                border-bottom: 1px solid var(--Gray);
                height: 80%;
                width: 100%;
                padding: 10px;
            }
        }
        .todo_description_buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
            button{
                color: var(--Gray);
                padding: 5px 1rem;
                margin: 10px 0;
            }
        }
     
    }

    .btn_close{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 1.2rem;

        &::after,&::before{
            position: absolute;
            content: "";
            background-color: var(--Gray);
            height: 1px;
            width: 50%;
            right: 20%;
            rotate:-25deg;
        }
        &::after{
            top: 100%;
        }
        &::before{
            top: 120%;
        }

        span{
            position: absolute;
            font-size: 10px;
            right: 10%;
            top:140%;

            &::after{
                position: absolute;
                content: "";
                background-color: var(--Gray);
                height: 100px;
                width: 1px;
                position: absolute;
                left: -15%;
                top: -120%;
            }
        }

    }

    .item{
        animation: disappear .2s forwards;
    }
    .appear{
        animation: appear .2s forwards;
    }
    .desc{
        animation: appearDesc .2s forwards;
    }
}

@media (max-width:720px) {
    :host{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%,-50%);
    }
}

@keyframes disappear {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
}
@keyframes appear {
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearDesc {
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
