.todo_add_container{
    height: 100%;
    width: 40vw;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .todo_add_image{
        height: 200px;
        width: 200px;
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        h1{
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: var(--secondary-color);
            text-align: center;
            width: 100%;
        }
    }
    button{
        width: 45%;
        background-color: var(--Black);
        color: var(--White);
        padding: 10px 0;
    
        p{
            font-size: 12px;
            letter-spacing: 3px;
            text-transform: capitalize;
        }
    }
}
@media (max-width:720px) {
    .todo_add_container{
        height: 50vh;
        width: 100vw;    

        gap: 10px;



        button{
            width: 150px;
            padding: 5px 0;
        }
    }
}
