@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
:root{
    --primary-color:#f5f5f5;
    --secondary-color:#e9e8e9;
    --Black:#000000;
    --Gray:#7A7A7A;
    --White:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    font-family: "Kavivanar", cursive;
    background: url("https://i.pinimg.com/originals/32/2a/fe/322afe4a274a9704d32c32a79e5dda8b.jpg")center/cover;
}
h1{
    font-weight: 100;
}

button{
    font-family: "Kavivanar", cursive;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
input, textarea{
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
}

.warn_message{
    color: var(--Gray);
    font-weight: bold;
    position: absolute;
    top: 30%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
