:host{
    display: block;
    width: 100%;
    .card_title{
        h1{
            font-size:23px;
        }
    }
    .card_description{
        ul{
            li{
                font-size: 15px;
                color: var(--Gray);
            }
        }
    }
}